API_PORT=1337
AI_URL=http://localhost:11434/api/generate

MYSQL_DB_NAME=sector_db
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_PASS=rootPass
MYSQL_USER=sector-user
MYSQL_PASSWORD=sector-password
MYSQL_TIMEZONE=Europe/Madrid
MYSQL_SYNC=true

LABEL_QUERY=""
BODY_QUERY=""